Github multi AI agent code reviewer.json
{
  "name": "Github multi AI agent code reviewer",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "https://github.com/ayush07571",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "periodic-table",
          "mode": "list",
          "cachedResultName": "periodic-table",
          "cachedResultUrl": "https://github.com/Ayush07571/periodic-table"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        48
      ],
      "id": "0f268719-901c-4ee4-b6bb-03cea789342d",
      "name": "Github Trigger",
      "webhookId": "569bc528-e266-4ba5-b480-2f632209b9d8",
      "credentials": {
        "githubOAuth2Api": {
          "id": "C7sYdFQrYTPj0Yr8",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.body.sender.login}}/{{$json.body.repository.name}}/pulls/{{$json.body.number}}/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        48
      ],
      "id": "f87e1ef0-8364-46a9-afcb-b32df12e9aa5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().map(item => item.json);\n\nlet diffs = '';\n\nfor (const file of files) {\n  diffs += `### Fichier : ${file.filename}\\n\\n`;\n\n  if (file.patch) {\n    // IMPORTANT : On remplace tous les triple backticks par simple (ou échappement)\n    const safePatch = file.patch.replace(/```/g, \"''\");\n\n    diffs += \"```diff\\n\";\n    diffs += safePatch;\n    diffs += \"\\n```\\n\";\n  } else {\n    diffs += \"_Pas de patch disponible (probablement fichier binaire)._\";\n  }\n\n  diffs += \"\\n---\\n\\n\";\n}\n\nconst userMessage = `\nYou are a senior web developer. \nPlease review the following code changes in these files :\n\n${diffs}\n\n---\n\nYour mission:\n- Generate a detailed inline comment witht he problem in the PR request (if there exists any) and the solution to it (if there exists any)\n- Review the proposed code changes file by file and by significant modification.\n\n- Generate inline comments on the relevant lines of code.\n\n- Ignore files without patches.\n\n- Do not repeat the code snippet or the filename.\n\n- Write the comments directly, without introducing the context.\n`;\n\nreturn [\n  {\n    json: {\n      user_message: userMessage.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        48
      ],
      "id": "fd952472-0064-4904-b402-13ce21bfa23f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=figure all the other issues or suggestions for the PR request which are not included in {{ $json.output }} also suggest some changes that if you think it exist in the response by AI agent 1 ({{ $json.output }}). format of reponse: AI Agent 1: {{ $json.output }} followed by AI Agent: and then your response and your suggestion. I need to track the response of both the agents.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -160
      ],
      "id": "f750de89-69ca-404f-ac32-7dbf54e0bb60",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        80
      ],
      "id": "fda4906a-df28-46a1-ab49-643804ebc6c7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ifsQZrr1csgzqFEs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "ayushkaran328@gmail.com",
        "subject": "Action needed: Review the comment going to be posted",
        "message": "=Pull request info:\nRepo name: {{ $('Github Trigger').item.json.body.pull_request.head.repo.name }}\nPull Request by: {{ $('Github Trigger').item.json.body.pull_request.user.login }}\nPull request id: {{ $('Github Trigger').item.json.body.pull_request.user.id }}\nPull request title: {{ $('Github Trigger').item.json.body.pull_request.title }}\nPull request description: {{ $('Github Trigger').item.json.body.pull_request.body }}\nAI generated comment: {{ $json.finaloutput }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Should we post this?",
              "fieldType": "dropdown",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        48
      ],
      "id": "ed7a54bf-88a0-463c-81ca-2212347d3397",
      "name": "Send message and wait for response",
      "webhookId": "80d558be-e5f2-4db8-97c7-59ed68b8982a",
      "credentials": {
        "gmailOAuth2": {
          "id": "8D2GURbNGdm3YdPt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Ayush07571",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "periodic-table",
          "mode": "list",
          "cachedResultName": "periodic-table",
          "cachedResultUrl": "https://github.com/Ayush07571/periodic-table"
        },
        "pullRequestNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "event": "comment",
        "body": "={{ $('Edit Fields').item.json.finaloutput }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2544,
        48
      ],
      "id": "bf9a1b14-be65-482b-b189-d35fb14683cb",
      "name": "Create a review",
      "webhookId": "3016eb2d-e237-4025-8038-7bf926e6100c",
      "credentials": {
        "githubOAuth2Api": {
          "id": "C7sYdFQrYTPj0Yr8",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Ayush07571",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "periodic-table",
          "mode": "list",
          "cachedResultName": "periodic-table",
          "cachedResultUrl": "https://github.com/Ayush07571/periodic-table"
        },
        "issueNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "editFields": {
          "labels": [
            {
              "label": "ReviewedByAI"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2768,
        48
      ],
      "id": "0bef55b2-e36b-4446-a978-2ecbf021e407",
      "name": "Edit an issue",
      "webhookId": "473feab3-970a-4f5e-93ea-89425247b5d9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "C7sYdFQrYTPj0Yr8",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6cc15d2-d0e3-42ba-9f79-5e36f807f19c",
              "leftValue": "={{ $json.data['Should we post this?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2320,
        48
      ],
      "id": "de8bfc49-ed45-4773-9f72-36e61e0e650e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}. format of response:AI agent 1: followed by your response",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -160
      ],
      "id": "86736030-d420-4f96-9efb-34adfc34d723",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=combine the response of AI agent 1 and AI agent {{ $json.output }} and {{ $('AI Agent1').item.json.output }} also add your suggestion and enhancements to the pr request then make the following comment more efficient by making sure that one thing if specified isn't repated again and also nothing such as github comment, inline comment, etc. in mentioned in the comment. also make it such that it looks like a suggestion from the user rather than ai generated comment. don't add anything extra from your side, just keep the info mentioned in the provided comment and nothing extra. also I want the comment not to show the comments generated by btoh the agents instead show me the summary of all the three ai agents and hence the best short suggestion for the pr request. genrate short and comprehensive comment of 4-5 lines maximum. and don't add any thing else just a comment that can be posted on the github.\nalso humanize the comment generated.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1168,
        -160
      ],
      "id": "fb08523f-a40d-470c-a7bb-e31704591400",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "stepfun/step-3.5-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        544,
        80
      ],
      "id": "c78acf96-7bf1-4768-94ef-e6c4f16d65a0",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "05ue2qutgBr3TomH",
          "name": "OpenRouter account 5"
        }
      }
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        80
      ],
      "id": "3f333f69-47d5-4ae7-9de9-85f8b03c0e73",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "ifsQZrr1csgzqFEs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=generate a short humanized comment by enhancing the response from previous AI agent - ({{ $json.output }}). I want to post only 3-4 lines comment. make the following comment more efficient by making sure that one thing if specified isn't repated again and also nothing such as github comment, inline comment, etc. in mentioned in the comment. also make it such that it looks like a suggestion from the user rather than ai generated comment. don't add anything extra from your side, just keep the info mentioned in the provided comment and nothing extra. also I want the comment not to show the comments generated by btoh the agents instead show me the summary of all the three ai agents and hence the best short suggestion for the pr request. genrate short and comprehensive comment of 4-5 lines maximum. and don't add any thing else just a comment that can be posted on the github.\nalso humanize the comment generated. and give me only the comment which has to be posted on github with no extra words. no words like, final comment, revised final comment, etc.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        -256
      ],
      "id": "a4827255-5aef-479a-8762-87e323984fca",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1600,
        -32
      ],
      "id": "68be30c9-5d61-4ea6-a96d-19ed8e8b53fb",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "RTDX1dAzX4tFAEde",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9246b807-80ea-4235-8f8a-388b7bb6c87d",
              "name": "finaloutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        48
      ],
      "id": "98afe57d-22d0-4503-a167-cfbd68cd4573",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "090a9f40-ff27-4d61-9408-5d69f0c1dfb0",
              "leftValue": "={{ $('HTTP Request').item.json.changes }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        48
      ],
      "id": "b06691e0-742b-4240-89aa-8e2be6fc425c",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role: Senior Developer\n# Task: Verify PR safety & intent.\n\nDiff: {{ $json.user_message }}\n\n# Instructions:\n- Only flag logic errors, security risks, or clear typos. \n- If the change is a list or intentional documentation, APPROVE it.\n- Output: 1-sentence supportive suggestion. \n- No intro/fluff.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        256
      ],
      "id": "8ecf4640-d7b0-40e4-9421-13c3ee393997",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "stepfun/step-3.5-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1600,
        480
      ],
      "id": "034a2f90-8123-4d31-bacd-154fca50c518",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "05ue2qutgBr3TomH",
          "name": "OpenRouter account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a review": {
      "main": [
        [
          {
            "node": "Edit an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b55d2ad7-2f63-46c5-852b-9ac40a419170",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27dec3950cc190b35c3bee02e1ef984b4d440979ae014cc101a282b038a1c4de"
  },
  "id": "Zpwk8DpghPkPfTTX",
  "tags": []
}
